<form (ngSubmit)="show(s.value)" #s="ngForm" name="form" novalidate style="width:500px;"></form>
    <div class="form-group" [ngClass]="{'has-error':(idv.touched||idv.dirty)&&!idv.valid}">
        <label for="Firstname">firstname</label>
        <input type="number" class="form-control" Name="exampleInputEmail1" name="name" placeholder="Enter name"  [(ngModel)]="customer.FirstName"
          #idv="ngModel"required />
          <span class="help-block" *ngIf="idv.touched && !idv.valid">
              <span *ngIf="(idv.errors.required)">
                this field is required
              </span>
            </span>
      </div>
  <div class="form-group" [ngClass]="{'has-error':(FirstNamev.touched||FirstNamev.dirty)&&!FirstNamev.valid}">
    <label for="LastName">LastName:</label>
    <input type="text" class="form-control" FirstName="fname" Lastname="Name" placeholder="Enter name"  minlength="3" [(ngModel)]="customer.LastName"
      #FirstNamev="ngModel" required/>
      <span class="help-block" *ngIf="FirstNamev.touched && !FirstNamev.valid">
          <span *ngIf="(FirstNamev.errors.required)">
            this field is required
          </span>
          <span *ngIf="(FirstNamev.errors.minlength)">
            this field is shoud be more than 3 characters
          </span>
        </span>
  </div>
  

  <div class="form-group" [ngClass]="{'has-error':(LastNameV.touched||LastNameV.dirty)&&!LastNameV.valid}">
    <label for="Address">Address:</label>
    <input type="text" class="form-control" FirstName="fname" Lastname="Name" placeholder="Address"  minlength="3" [(ngModel)]="customer.Address"      #LastNameV="ngModel" required/>
      <span class="help-block" *ngIf="LastNameV.touched && !LastNameV.valid">
          <span *ngIf="(LastNameV.errors.required)">
            this field is required
          </span>
        </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error':(LastNameV.touched||LastNameV.dirty)&&!LastNameV.valid}">
    <label for="Email">Email:</label>
    <input type="text" class="form-control" Email="email" Lastname="Name" placeholder="Enter Email"  minlength="3" [(ngModel)]="customer.Email "      #LastNameV="ngModel" required/>
      <span class="help-block" *ngIf="LastNameV.touched && !LastNameV.valid">
          <span *ngIf="(LastNameV.errors.required)">
            this field is required
          </span>
        </span>
  </div>
  
  
    <div class="form-group" [ngClass]="{'has-error':(Emailv.touched||Emailv.dirty)&&!Emailv.valid}">
      <label for="City">City</label>
      <input type="text" class="form-control" FirstName="fname" Lastname="Name" placeholder="City"  minlength="3" [(ngModel)]="customer.City"
        #Emailv="ngModel"required />
        <span class="help-block" *ngIf="Emailv.touched && !Emailv.valid">
            <span *ngIf="(Emailv.errors.required)">
              this field is required
            </span>
          </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error':(LastNameV.touched||LastNameV.dirty)&&!LastNameV.valid}">
      <label for="State">State:</label>
      <input type="text" class="form-control" FirstName="fname" Lastname="Name" placeholder="state"  minlength="3" [(ngModel)]="customer.State"
        #LastNameV="ngModel" required/>
        <span class="help-block" *ngIf="LastNameV.touched && !LastNameV.valid">
            <span *ngIf="(LastNameV.errors.required)">
              this field is required
            </span>
          </span>
    </div>
      <button type="submit" class="btn btn-primary" [disabled]="!s.valid">Submit</button>
 
    
</form>
<!----<br>{{s.touched}}
<br>{{s.dirty}}
<br>{{s.valid}}
<br>{{s.value|json}}-->